@import "../../../node_modules/react-quill/dist/quill.snow.css";
@import "../../../node_modules/react-image-crop/dist/ReactCrop.css";
@import "../lib/shards-dashboard/styles/shards-dashboards.scss";
@import './colors';
@import './content/cards';
@import './components/input';
@import './components/empty-placeholder';
@import './components/category-cards';
@import './components/navbar';
@import './components/modal';
@import './components/action-buttons';
@import './components/search-header';
@import './components/content-attributes';
@import './components/auth-form';
@import './components/stars-rating';
@import './components/add-marketer';
@import './components/success-message';
@import './components/user-details';
@import './components/logo';
@import './components/card-section';
@import './components/attributes-block';
@import './components/field';
@import './components/resource-details';
@import './components/content-files';
@import './components/edit-company';
@import './components/content-card';
@import './components/uploading-variants';
@import './components/subscription';
@import './components/resources-listing';
@import './components/analytics-widget';
@import './components/card';
@import './components/chart-wrapper';
@import './components/company-details';
@import './components/categories-popularity';
@import './components/dashboard';
@import './components/image-uploader';
@import './components/color-selector';

$fontFamily: Roboto,Arial,sans-serif;

html {
  height: 100vh;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamily;
}

body {
  height: 100%;
  font-weight: normal;
  color: #3D5170;
}

.add-new-post__editor {
  .ql-container,
  .ql-editor {
    min-height: 400px;
  }
}

$dropzone-text-align   : center !default;
$dropzone-font-weight  : 400 !default;
$dropzone-padding      : 0.75rem 1.0625rem !default;
$dropzone-font-size    : 13px !default;
$dropzone-border       : 1px dashed #dadfe4 !default;
$dropzone-border-radius: 0.375rem !default;


.dropzone {
  text-align: $dropzone-text-align;
  font-weight: $dropzone-font-weight;
  padding: $dropzone-padding;
  font-size: $dropzone-font-size;
  border: $dropzone-border;
  border-radius: $dropzone-border-radius;
}

.dataTables_wrapper {
  background: none;
  border-radius: unset;
  box-shadow: none;
}

.dataTables_wrapper table.dataTable thead th.sorting:after {
  background-size: auto;
}

.dataTables_wrapper table.dataTable {
  width: calc(100% - 1px) !important;
  margin: 0;

  .sorting {
    cursor: pointer;
  }
}

.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable tbody td {
  text-align: left;
  vertical-align: middle;
}

.file-manager__dropzone {
  padding: 0.75rem;
  border-bottom: 1px solid #e1e5eb;
}

#app {
  height: 100%;
}

b, strong {
  font-weight: bold;
}

.form-group {
  label {
    color: #495057;
  }
}

.user-avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background: #cacedb;
}

.main-navbar .nav {
  @media (min-width: 768px) {
    display: none!important;
  }
}

.date__fieldset {
  .input-group-append {
    height: 32px
  }
}

.clickable {
  cursor: pointer;
}

p {
  margin-bottom: 1em;
}

a.simple-link {
  color: #5A6169;
  &:hover {
    color: #3c4046;
  }
}

.main-sidebar {
  z-index: 1021;

  .nav {
    border-bottom: none;
  }
}

.main-navbar .navbar .nav-link {
  .username {
    max-width: 100px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

  @media (min-width: 768px) {
    min-width: 160px;
  }
}

.btn {
  font-family: inherit;
}

.btn-light {
  background-color: #E9ECEF;
  color: #979797;
}

.main-navbar .dropdown-menu-small {
  box-shadow: inset 0 7px 15px -7px rgba(90, 97, 105, 0.1), 0px 5px 5px rgba(90, 97, 105, 0.06), 0px 2px 4px rgba(90, 97, 105, 0.12), 0px 1px 0px rgba(90, 97, 105, 0.11);
}

.sc-legend {
  padding-left: 1em;
}

.sc-legend__label {
  width: 8px;
  height: 8px;
}

.custom-select-sm {
  font-size: 14px;
}

.custom-radio .custom-control-label::after {
  transform: none;
  background: #A8AEB4;
  opacity: 1;
}

.custom-radio .custom-control-label::before {
  background: #E9ECEF;
  border-color: #BECAD6;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background: #fff;
}

.dataTables_wrapper table.dataTable thead th.sorting:after, .dataTables_wrapper table.dataTable thead th.sorting_asc:after, .dataTables_wrapper table.dataTable thead th.sorting_desc:after {
  right: auto;
  margin-left: 1em;
}

.main-navbar {
  .dropdown-toggle::after {
    right: 14px;
    position: absolute;
    top: calc(50% - 2px);
  }
}

.navbar-nav .user-menu {
  min-width: 160px !important;
  padding-right: 1.75rem;
  padding-left: 0.875rem;
}

.required-mark {
  color: #C4183C;
  font-size: 0.8rem;
}

.required-field-wrapper {
  position: relative;

  .required-mark {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.alert-danger {
  color: #C4183C;
  background-color: rgba(246, 178, 192, 0.2);
  border-radius: 8px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  .close {
    opacity: 1;
    padding: 0;
    top: 8px;
    right: 8px;

    span {
      vertical-align: middle;
    }
  }

  .close:not(:disabled):not(.disabled):focus,
  .close:not(:disabled):not(.disabled):hover {
    color: #a21331;
  }
}

.main-sidebar .nav-item.open .dropdown-toggle::after {
  background-image: url('/icons/dropdown-active.svg')
}

.pointer {
  cursor: pointer;
}

.main-sidebar .nav .nav-item,
.main-sidebar .nav .nav-link {
  font-family: $fontFamily;
}

.main-sidebar .nav-link span {
  vertical-align: bottom;
}

.dropdown-item {
  color: #495057;
}

.modal-backdrop {
  &.show {
    opacity: 0.3;
  }
}

.main-navbar .navbar .navbar-nav .dropdown-menu {
  width: calc(100% + 2px);
  right: -1px;
}

.main-navbar .navbar .nav-link .username {
  color: #5A6169;
}

.page-header .page-title {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -0.65px;
}

.card-header h5 {
  font-weight: normal;
}

.error {
  min-height: 70vh;
  height: auto;
}

input::placeholder {
  color: #B9BBBE !important;
}

.badge {
  font-family: $fontFamily;
}

.light-text {
  color: #818EA3;
}

.resource__name {
  margin-bottom: 0;
}

.navbar-brand {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5px;
  margin-right: 0;

  .logo {
    width: 100%;

    img {
      max-height: 50px;
    }
  }

  @media (max-width: 767px) {
    margin-right: 60px;
  }
}

.edit-user-details__avatar,
.user-details__avatar {
  background-color: #E1E5EB;
}

.edit-user-details__avatar--no-image .edit-user-details__avatar__change {
  opacity: 1;
}

.header-menu {
  background-color: #fff;
}
