.analytics-widget {
  &__title {
    color: #3D5170;
    margin-bottom: 1em;
    font-size: 1em;
  }

  &__section {
    color: #818EA3;
    padding: 1em;
    min-height: 220px;

    &:first-child {
      border-right: 1px solid #e1e5eb;
    }

    &:nth-child(2) {
      border-right: 1px solid #e1e5eb;
    }

    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
    }

    a {
      color: inherit;
      &:hover, &:focus {
        color: #505866;
      }
    }
  }

  &__icon {
    font-size: 0.8em;

    &--views {
      color: $main;
    }

    &--star {
      color: #FFB400;
    }
  }

  &__category-color {
    border-radius: 0.8em;
    width: 0.8em;
    height: 0.8em;
    background-color: #ccc;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }

  &__value {
    font-size: 0.8em;
    color: #3D5170;
    min-width: 3em;
    display: inline-block;
  }

  &__item {
    margin-bottom: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  select {
    color: #868E96;
  }
}
