.attributes-block {
  color: #818EA3;

  &__item {
    list-style: none;
    margin: 0;
    padding: 1.5em 15px;
    border-bottom: 1px solid #e1e5eb;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
