.auth-form {
  &__title {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: "Poppins";
    color: $main;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    font-size: 20px;
  }

  &__subtitle-wrapper {
    margin-bottom: 1em;
    text-align: center;
  }

  .card-body {
    box-shadow: inset 0 6px 0 0 $main;
  }

  &__text {
    color: #858585;
    font-size: 13px;
    margin-bottom: 1.5rem;
  }

  button {
    min-width: 150px;
  }

  .simple-link {
    color: #818EA3;
  }

  &__link {
    margin-top: 1em;
  }
}
