.category-cards {
  position: relative;
  margin-bottom: 1rem;

  &__row {
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
    height: 40px;
  }

  &__arrow {
    font-size: 1.7rem;
    cursor: pointer;
    line-height: 1em;
    position: absolute;
    display: inline-block;
    top: 0;

    i {
      vertical-align: middle;
    }

    &--left {
      margin-left: -0.3em;
    }

    &--right {
      margin-right: -0.3em;
      margin-left: auto;
      right: 0;
    }



    &--disabled {
      color: #BECAD6;
      cursor: default;
    }
  }

  &__items {
    display: inline-block;

  }

  &__button {
    font-size: 1.2em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    display: inline-block;
    max-width: 150px;
    color: #5A6169;
    border-color: #BECAD6;
    font-size: 14px;
    line-height: 1em;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &--add {
      width: auto;
      min-width: unset;
    }
  }

  &__track {
    overflow: hidden;
    overflow-x: scroll;
    padding-bottom: 5px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }
  &__wr {
    display: inline-block;
    height: 100%;
  }
}


