.color-selector {
  margin-bottom: 1em;
  position: relative;

  &__value {
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: #ccc;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }

  &__picker {
    background-color: #fff;
    position: absolute;
    padding: 0.5em;
    z-index: 1;
    box-shadow: 1px 3px 5px rgba(90, 97, 105, 0.11);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    top: 46px;

    &::before {
      content: '';
      position: absolute;
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent rgba(0, 0, 0, 0.15);
      border-image: initial;
      top: -16px;
      left: 5px;
    }
    &::after {
      content: '';
      position: absolute;
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent rgb(255, 255, 255);
      border-image: initial;
      top: -14px;
      left: 6px;
    }
  }
}
