.company-details {
  color: #818EA3;

  .simple-link {
    max-width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: inherit;
  }

  .input__label {
    color: #3D5170;
  }

  &__description {
    white-space: pre;
  }

  .color-selector__value {
    margin-top: 0;
    cursor: default;
    width: 1em;
    height: 1em;
  }
}
