.content-files {
  margin-bottom: 1em;

  &__item-wrapper {
    display: flex;
    margin-right: 1em;
    margin-bottom: 0.5em;
    flex-direction: column;
  }

  &__document-name {
    cursor: pointer;
    color: #007BFF;
  }

  &__item {
    display: inline-block;
    line-height: 25px;
    word-break: break-all;

    &--error {
      .content-files__document-name {
        color: #C4183C;
      }

    }
  }

  &__remove-button {
    cursor: pointer;
    margin-left: 0.5em;
  }

  &__icon {
    margin-right: 0.5em;
  }
}
