.content-attributes {
  max-width: 400px;

  form {
    width: 100%;
  }

  &__section {
    border-bottom: 1px solid #e1e5eb;
    padding: 1.5rem 1rem;

    &:first-child {
      padding-top: 0;
    }
  }

  &__new-field {
    margin-bottom: 1em;
  }

  &__value {
    margin-bottom: 0.5em;

    .input-group-append {
      margin-left: 0;
    }

    button {
      border: none !important;

      &:hover,
      &:focus {
        box-shadow: none !important;
      }
    }

    .form-control:not(:last-child) {
      border-top-right-radius: 0.25rem !important;
      border-bottom-right-radius: 0.25rem !important;
    }
    .btn-white:not([disabled]):not(.disabled):active {
      background-color: transparent;
      color: #212529;
    }
  }
}
