.cards {
  &__attributes {
    margin-left: auto;

    a {
      display: inherit;
    }
  }

  &__attributes-item {
    width: 95px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;

    @media (max-width: 850px) {
      width: 80px;
    }
  }

}

.content-card {
  .card-footer {
    min-height: 85px;

    @media (min-width: 992px) and (max-width: 1300px) {
      flex-direction: column;

      .cards__attributes {
        flex-direction: row;
        margin-left: unset;
        margin-top: 1em;
      }

      .cards__attributes-item {
        margin-right: 5px;
      }
    }
  }

  .card-title {
    //text-overflow: ellipsis;
    //overflow: hidden;
    //white-space: nowrap;
    color: #2B394F;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  &.card-small {
    height: 100%;
  }

  &.card-small > a {
    flex-grow: 1;
  }

  .card-body {
    overflow: hidden;
    background-color: #F1F2F6;
  }

  .card-post__author {
    align-items: center;
    width: 50%;

    @media (min-width: 992px) and (max-width: 1300px) {
      width: auto;
    }
  }

  .card-post__author-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    color: #5A6169;
    font-weight: normal;
  }

  .card-post__author-avatar {
    display: flex;
    flex-shrink: 0;
  }

  .card-post__meta {
    width: calc(100% - 40px);
    flex-shrink: 1;
    margin-right: 0.5em;
  }

  &__status {
    color: #5A6169;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  &__status-icon {
    color: #C4183C;

    &--published {
      color: #17C671;
    }
  }

  &--published {
    .card-body {
      background-color: unset;
    }

    .card__status-icon {
      color: #17C671;
    }
  }
}

@media (max-width: 990px) {
  .cards__items.row {
    display: block;
  }
}
