.dashboard {
  &__buttons {
    text-align: center;
  }

  &__buttons-item {
    margin-right: 3em;
    margin-bottom: 1em;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width: 550px) {
      margin-right: auto;
      margin-left: auto;
      max-width: 200px;
      display: block;

      &:last-of-type {
        margin-right: auto;
      }
    }
  }
}
