.edit-company {
  .edit-user-details__avatar {
    line-height: 80px;
    max-width: 80px;
    height: 80px;
  }

  .user-avatar {
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    background: #cacedb;
  }

  .edit-user-details__avatar__change i {
    line-height: 80px;
  }
}
