.image-uploader {
  &__wrapper {
    background-color: #F5F6F8;
    & > div {
      margin: auto;
      line-height: initial;
    }

    img {
      width: auto !important;
      max-width: 100%;
    }
  }

  .ReactCrop {
    line-height: initial;
    background-color: #F5F6F8;
  }
}
