.modal {
  overflow: auto;

  &__close {
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
    position: absolute;
    font-size: 18px;
  }

  &__header {
    margin: 0 auto;
    text-align: center;
    border-bottom: none;
    margin-top: 1.2rem;
    padding-bottom: 0;

    &--confirmation {
      .modal-title {
        color: $main;
      }
    }

    &--critical {
      .modal-title {
        color: $red;
      }
    }
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    button {
      min-width: 100px;
    }
  }

  .modal-body {
    padding-top: 1em;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;

    label {
      font-size: 15px;
    }
  }

  &--confirmation {
    .modal-body {
      font-size: 0.7rem;
    }
  }
}

.modal-dialog {
  margin: 1em auto;
}
