.custom-navbar {
    justify-content: space-between !important;
}

.landscape, .even, .portrait {
    .logo-wrapper {
        padding: 10px;
        display: block;
        line-height: 40px;
        img {
            width: auto;
            height: 40px;
        }
    }
}

@media (max-width: 600px) {
    .landscape {
        .logo-wrapper {
            padding: 10px;
            img {
                width: 47px;
                height: auto;
            }
        }
    }

    .portrait, .even {
        .logo-wrapper {
            padding: 10px;
            img {
                width: auto;
                height: 40px;
            }
        }
    }
}

