.resource-details {
  &__headline {
    align-items: center;

    h5 {
      margin: 0;
      margin-bottom: 0;
      font-weight: normal;
    }
  }

  &__edit-button {
    text-align: right;
  }

  .input__label {
    color: #3D5170;
  }
}
