.resources-listing {
  .card-footer {
    background-color: #FBFBFB;
  }

  &__pagination {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__pagination-info {
    margin-right: 1em;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }

  &__pagination-navigation {
    width: 60%;
    display: flex;
    flex-grow: 0;

    @media (max-width: 768px) {
      width: auto;
    }
  }

  .col-lg-6 {
    margin-bottom: 20px;
  }
}
