.search-header {
  justify-content: space-between;
  &__input {
    max-width: 250px;

    @media (max-width: 576px) {
      max-width: unset;
    }
  }

  &__button {
    text-align: right;
    @media (max-width: 576px) {
      text-align: center;
      margin-top: 1em;
    }
  }

  @media (max-width: 576px) {
    display: block;
  }
}
