.stars-rating {
  color: #E0E2E8;
  font-size: 1em;
  height: 1em;
  width: 5em;
  line-height: 1em;
  position: relative;
  padding: 0;
  text-align: left;

  &__foreground-wrapper {
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
  }

  &__foreground {
    color: #e7711b;
    padding: 0;
    height: 1em;
    overflow: hidden;
    white-space: pre;
  }

  &__background {
    padding: 0;
    display: block;
    z-index: 0;
  }
}
