.toggle-subscription-state {
  display: inline-block;
}

.pause-button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;

  i {
    font-size: 50px;
    color: #1ebc70;
  }
}
