.success-message {
  max-width: 300px;
  min-height: 320px;
  text-align: center;

  .card-body {
    box-shadow: inset 0 6px 0 0 #007BFF;
    border-radius: 0.625rem;
  }

  &__title {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: "Poppins";
    color: $main;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.5em;
    margin-bottom: 1rem;
    font-size: 20px;
  }

  &__message {
    color: #858585;
    margin-bottom: 2em;
  }

  button {
    min-width: 150px;
    font-size: 0.9rem;
  }
}
