.user-details {
  &__header {
    height: 110px;
  }

  &__avatar-wrapper {
    background: $main;
    border-radius: 10px 10px 0 0;
    height: 70px;
  }

  &__avatar {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 40px;
    left: 15px;
    box-shadow: 0 7px 70px rgba(90,97,105,.1), 0 10px 10px rgba(90,97,105,.06), 0 4px 8px rgba(90,97,105,.12), 0 2px 0 rgba(90,97,105,.11);
  }
}
