.cards {
    &__items {
        .col-lg-4 {
            margin-bottom: 20px;
        }
    }

    &__section {
        padding: 1em 0;
    }

    &__row {
        border-bottom: 1px solid #e1e5eb;

        &:last-child {
            border-bottom: unset;
        }
    }

    &__section-headline {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        h5 {
            flex-grow: 1;
            margin: 0;
        }
    }

    &__section-headline-link {
        text-align: right;
        align-self: center;

        @media (max-width: 767px) {
            margin-top: 0.5rem;
            text-align: left;
        }
    }

    &__all-items-link {
        text-align: right;
        display: block;
        color: #5A6169;
        margin: 20px 0;

        &:hover {
            color: inherit;
        }
    }

    &__attributes {
        display: flex;
        flex-direction: column;
    }

    &__attributes-item {
        margin-bottom: 5px;
    }
}
